@charset "utf-8"

* { 
    padding: 0; 
    margin: 0; 
}
		
canvas { 
    background: #fff; 
    display: block; 
    margin: 0 auto;
}

#myCanvas {
    height: 500px;
    width: 500px;
}
                
.inline-block_test1 {
    float: left;
    background-color: #ccc; 
    padding: 10px;           
    height: 500px;          
    width: 500px;
}

.inline-block_test2 {
    float: right;
    background-color: #ddd;     
    padding: 10px;               
    height: 500px;                
    width: 500px;
}